@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

}



body {

  display: flex;
  flex-direction: column;
  justify-content: center;     /* Centraliza horizontalmente */
  align-items: center;         /* Centraliza verticalmente */
  font-family: Arial, sans-serif; 
  background-image: url('assets/fitche_fatche/bg-pattern-dark.png');

}

Header img {
  width: 75px;                    /* Largura da imagem */
  height: 75px;                   /* Altura da imagem */
  object-fit: contain;            /*imagem se ajuste sem distorção */
}




